
body
{
        padding-top: 50px;
    padding-bottom: 20px;
    
}
/* Set padding to keep content from hitting the edges */
.body-content {

   background-color:#35a2b6;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error
{
    color:#f00;
}
.field-validation-valid
{
    display:none;
}
.input-validation-error{
    border: 1px solid #f00;
    background-color:#19525c;
}
.validation-summary-valid
{
    display:none;
}
.validation-summary-errors{
    font-weight: bold;
    color:#f00;
}

.btn a{
    color:#f00;
    text-decoration:#000000;
   
}
