
@{
    ViewBag.Title = "Party Time!!";
}
<div class="text-center">
<h2>Party</h2>




<img src="~/Images/43397_Lets_Party_BrAEEE05.jpg"  height ="50%" width="50%"/>
<p> We are having a party and you are invited!!!</p>
    <div class="btn btn-success">
        @Html.ActionLink("RSVP Now Please", "RSVPForm")
    </div>
</div>